<h1>Share the love this Christmas</h1>
<blockquote>Christmas is coming, and the geese are getting fat, <br/>
	whose name will you pull from the Kris Krindle hat?</blockquote>
<% unless session[:user_id].nil? %>
		<%= link_to 'Create a new Krindle', '/krindles/new'%>
<% end -%>

