<div ng-controller="IndexCtrl">

<div class="row">
	<div class="small-3 columns">
	  <h1>{{ title }}</h1>
  	</div>
  	<div class="small-9 columns">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse, iure, provident ratione consequatur pariatur nemo aliquam id enim quod earum nobis facilis ipsa reiciendis debitis repellendus at dicta ipsum aspernatur.</div>
</div>

</div>

