<div ng-app="friendsApp">
	<h3>Add friends to your Kris Krindle</h3>
<input ng-model="query" placeholder="Find friends to add" class="search-box" />


<div ng-controller="MainCtrl" ng-init="init('<%= @krindle.id %>')" class="row">
	<div class="small-5 columns friends-list">
		<div ng-repeat="friend in friends | filter:query | orderBy:name">
			<div class="friend">
				<img src="{{friend.picture}}" class="left" />
				<strong class="left clearfix">{{friend.name}}</strong>
				<a href="" ng-click="addToKindle(friend)" class="button success small right">Add</a>
			</div>
		</div>
	</div>

	<div class="small-5 columns friends-list">
	
		<div ng-repeat="friend in friendsInKindle">
			<div class="friend">
				<img src="{{friend.picture}}"/>
				<strong class="left">{{friend.name}}</strong>
				<a href="" ng-click="removeFromKindle(friend)" class="button alert small right">Remove</a>
			</div>
		</div>
		
		<div ng-show="friendsInKindle.length" class="right save-btn">
			<a href="" ng-click="saveToKindle('<%= @krindle.id %>')" class="button small success">Save</a>
		</div>
	</div>
	
</div>

</div>