// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$light-gray : #a0a0a0;
$dark-gray : #c4c4c4;

.container{
	width: 100%;
	min-height: 960px;
	background: $dark-gray; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  $dark-gray 0%, $light-gray 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,$dark-gray), color-stop(100%,$light-gray)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  $dark-gray 0%,$light-gray 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  $dark-gray 0%,$light-gray 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  $dark-gray 0%,$light-gray 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  $dark-gray 0%,$light-gray 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$dark-gray', endColorstr='$light-gray',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.tree{
	min-height: 800px;
	background: url('/images/tree.svg') transparent no-repeat 0 0;
	background-size: auto 700px;
}