// Place all the styles related to the Main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sub-nav dd{
	font-size: 1.5em;
}

body{
	background: url('/images/tree.jpg') transparent 0 0 no-repeat;
	background-size: cover;
}


.container{
	width:100%;

	padding: 4em 0;
}

.app{
	padding: 	20px;
	border: 1px solid rgba(133, 133, 133, 0.4);
	background-color: rgba(12, 116, 12, 0.58);
	width: 80%;
	height: 80%;
	box-shadow: 3px 3px 5px rgba(27, 27, 27, 0.44);
	margin:auto;
	color:white
}

.app h1, .app h2, .app h3{
	color:white;
}


.krindle {
	width: 20%;
	background: url("/images/gift.svg") #f2f2f2 50% 0% no-repeat;
	background-size: 59%;
	padding-top: 110px;
}

.krindle h3{
	color:#000;
}

.friend img{
	border-radius: 20px;
	box-shadow: 3px 3px 3px #333;
	float: left;
	margin:10px;
}

.friend strong{
	color:#C02424;
}


.friend strong{
	margin-top: 1.5em;
}

.friend a.button{
	margin-top: 1.2em;	
}

.friend{
	padding: 0.1em 1em 0 0;
	background-color: #eee;
	border: 1px groove;
	min-height: 4.6em;
}

.friends-list{
	max-height:50em;
	overflow: hidden;
}

.search-box{
	font-size: 1.8em;
	width:40%;
	margin:2em 0;
}

.save-btn{
	margin-top:0.5em;
}